.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 500px; 
  }
  
  .image {
    max-width: 100%;
  }
  
  /* .overlay-content {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 30px;
    text-align: center;
    width: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0;
  } */
  